@charset "utf-8";
body {
background-color: #ffffcc;
font-family: Arial, Tahoma, sans-serif;
color: #000000;
}
h1 {
color: #ffffff;
}
header {
background-color: #999966;
color: #ffffff;
text-align: center;
padding: 5px;
width: 80%;
margin-left: 10%;
}
#container {
width: 100%;
}

main {
width: 80%;
background-color: #ffffcc;
float: left;
padding: 5px;
margin-left: 10%;
}
footer {
clear: both;
background-color: #999966;
color: #ffffff;
text-align: left;
margin-left: 10%;
padding: 5px;
font-size: 12pt;
width: 80%;
}

nav {
color: #ffff66;
padding: 10px;
width: 100%;
margin-left: 10%;
font-weight: bold;
}
nav ul {
list-style: none;
}
nav ul li {
float: left;
padding: 5px;
}
nav ul li a:link, nav ul li a:visited {
display: inline-block;
width: 150px;
margin-right: 4px;
color: #669900;
padding: 2px 4px 2px 4px;
background-color: #ffffff;
text-decoration: none;
text-align: center;
}
nav ul li a:hover {
color: #ffff66;
background-color: #999966;
}
#tablestyle {
   width: 80%;
   background-color: #ffff66;
}
.rowcolor {
    color: #996633;
}
.orderrowcolor {
    color: #99ccff;
}
#tablestyle2 {
   width: 80%;
   background-color: #99ccff;
}